USE [master]
GO
/****** Object:  Database [22T1020362DB]    Script Date: 18/04/2025 9:22:36 SA ******/
CREATE DATABASE [22T1020362DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'22T1020362DB', FILENAME = N'D:\MauThietKe\22T1020362DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'22T1020362DB_log', FILENAME = N'D:\MauThietKe\22T1020362DB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [22T1020362DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [22T1020362DB]
GO
/****** Object:  Table [dbo].[PhanTu]    Script Date: 18/04/2025 9:22:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanTu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[IDCha] [int] NULL,
	[DungLuong] [float] NOT NULL,
	[Loai] [nvarchar](30) NOT NULL,
 CONSTRAINT [pk_PhanTu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PhanTu]  WITH CHECK ADD  CONSTRAINT [fk_PhanTu] FOREIGN KEY([IDCha])
REFERENCES [dbo].[PhanTu] ([ID])
GO
ALTER TABLE [dbo].[PhanTu] CHECK CONSTRAINT [fk_PhanTu]
GO
USE [master]
GO
