USE [master]
GO
/****** Object:  Database [strategy_bt]    Script Date: 16/05/2025 2:57:01 CH ******/
CREATE DATABASE [strategy_bt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'strategy_bt', FILENAME = N'D:\MauThietKe\strategy_bt.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'strategy_bt_log', FILENAME = N'D:\MauThietKe\strategy_bt_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [strategy_bt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [strategy_bt]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 16/05/2025 2:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [nvarchar](30) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
